.team__section{
    .section__sub__title {
        position: relative;
        color: $theme-color;
        display: inline;
        &::before {
            position: absolute;
            content: '';
            width: 110%;
            height: 25px;
            border-top: 1px solid rgba($color: $theme-color, $alpha: 0.1);
            border-left: 1px solid rgba($color: $theme-color, $alpha: 0.1);
            top: -10px;
            left: -6%;
        }
    }
    .team-container{max-width:1570px; margin: auto;}
    .teams__thumb{
        position: relative;
        .teams__icon__wrapper{
            position: relative;
            width: 370px;
            bottom: 34px;
            text-align: center;
            @media #{$max-md} {
                width: 100%;
             }
            &:hover{
                .teams__icon{
                    visibility: visible;
                    opacity:1;
                    transform: translateY(0px);
                }
            }
            .teams__icon{
                background-image: url(../img/team/team__one__01.png);
                width: 370px;
                height: 200px;
                position: absolute;
                bottom: 124px;
                overflow: hidden;
                visibility: hidden;
                opacity:0;
                transform: translateY(-100px);
                @include transition(0.3s);
            }
            .teams__icon__two{
                background-image: url(../img/team/team__one__02.png);
            }
            .teams__icon__three{
                background-image: url(../img/team/team__one__03.png);
            }
            .teams__icon__four{
                background-image: url(../img/team/team__one__04.png);
            }
            .teams__social__media{
                position: relative;
                text-align: center;
                bottom: 40px;
                z-index: 1;
            }
            .teams__content{
                background: white;
                color: black;
                width: 370px;
                padding: 23px 35px;
                @include transition(0.3s);
                box-shadow: 8px 8px 29px -2px rgba(0, 0, 0, 0.1);
                -webkit-box-shadow: 8px 8px 29px -2px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 8px 8px 29px -2px rgba(0, 0, 0, 0.1);
                @media #{$max-md} {
                    width: 100%;
                 }
            }
            .teams__title{
                font-size: 24px;
                font-weight: 600;
                @include transition(0.3s);
                &:hover{
                    color:$theme-color;
                }
            }
            .teams__designation{
                font-size: 16px;
                margin-bottom:20px;
            }
            .teams__social__media{
                a{
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    margin-right: 10px;
                    background: $green;
                    color: $white;
                    border-radius: 50%;
                    line-height: 40px;
                    text-align: center;
                    vertical-align: middle;
                    @include transition(0.3s);
                    &:first-child{
                        background: $theme-color;
                        color: $white;
                    }
                    &:last-child{
                        background: #51CFEE;
                        color: $white;
                    }
                    &:hover{
                        background: $white;
                        color:$black;
                    }
                }
            }
        }
    }
}
.team__section__two{
    .section__title__img{
        &::before{
            position: absolute;
            content: '';
            background: rgba($color: $theme-color, $alpha: 0.8);
            width: 270px;
            height: 267px;
        }
        .award{
            bottom: 20px;
            left: 20px;
            img{
                margin-right: 10px;
            }
            span{
                color: $white;
                font-size: 45px;
                font-weight: 700;
                line-height: 48px;
            }
            p{
                color: $white;
                font-size: 22px;
                font-weight: 500;
                line-height: 48px;
            }
        }
    }
   .progress_one{
    &::after{
        content: '88%';
        position: absolute;
        right: 12%;
        top: 20%;
    }
   }
   .progress_two{
    &::after{
        content: '80%';
        position: absolute;
        right: 20%;
        top: 20%;
    }
   }
   .progress_three{
    &::after{
        content: '95%';
        position: absolute;
        right: 5%;
        top: 20%;
    }
   }
   .progress{
    background: none;
    border: 1px solid $black;
    height: 20px;
   }
   .progress-bar{
    height: 8px;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 4px;
    border-radius: 5px;
   }
   .bar-width-one {
    animation: progress-forward-one infinite 5s ease;
    @include transition(0.3s);
   }
   .bar-width-two {
    animation: progress-forward-one infinite 5s ease;
    @include transition(0.3s);
   }
   .bar-width-three {
    animation: progress-forward-one infinite 5s ease;
    @include transition(0.3s);
   }
}
// team details 
.team__details{
    background: url(../img/team/team__details__bg.png) no-repeat;
    background-size: auto;
    background-position: 0% 15%;
    .right__team__rapper{
        h2{font-size: 46px;line-height: 66px;font-weight: 700;color: $black;}
        h5{font-size: 24px;line-height: 29px;font-weight: 700;color: $black;}
        .team__contact{
            font-size: 18px;
            a{
                color: $theme-color;
                margin-right: 10px;
                font-size: 22px;
            }
        }
        .social__media__link{
            ul li{
                display: inline-block;
                margin-right:40px;
            }
            ul li a{
                @include transition(0.3s);
                &:hover{color: $theme-color;}
            }
        }
    }
    .about__me__rapper{
        h4{font-size: 36px;line-height: 44px;font-weight: 700;}
        .progressbar-content{
            .chart {
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-bottom: 18px;
                 span {
                    color: $black;
                    font-size: 32px;
                    font-weight:600;
                    position: absolute;
                    z-index: 1;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                }
            }
            .char-title{font-size: 20px;color: $black;}
        }
    }
}